---
import Logo from "@/components/Logo.astro";
import config from "@/config/config.json";
import {
  getLangFromUrl,
} from "@/lib/utils/languageParser";

let lang = getLangFromUrl(Astro.url);


const { default_language } = config.settings;


const disabledLanguages = config.settings.disable_languages as string[];
if (disabledLanguages.includes(lang)) {
  lang = default_language;
}
---

<header class="header z-30 lg:sticky top-0">
  <nav class="navbar ">
    {/* logo */}
    <div class="order-0 text-center w-full h-24">
      <Logo />
    </div>
    
  </nav>
</header>
