---
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import { supportedLang } from "@/lib/utils/languageParser";

import { BsEnvelope } from "react-icons/bs";
import { FaPhoneAlt } from "react-icons/fa";
import ImageMod from "../../layouts/components/ImageMod.astro";

export function getStaticPaths() {
  const paths = supportedLang.map((lang) => ({
    params: { lang: lang || undefined },
  }));
  return paths;
}

const { lang } = Astro.params;

const { contact_form_action }: { contact_form_action: string } = config.params;
---

<Base
  title={"The Stoners landing page"}
  meta_title={"The Stoners"}
  description={"Landing page The Stoners Geneve"}
>
  <section class="section-sm">
    <div class="container lg:flex lg:flex-row">
      <div class="row col-12 lg:col-8">
        <div class="mx-auto md:col-10 lg:col-6">
          <form
            class="mb-14"
            action={contact_form_action}
            method="POST"
            name="contact"
            data-netlify="true"
          >
          <input type="hidden" name="form-name" value="contact">
            <div class="mb-14">
              <h1>
                <p class="font-bold text-4xl">Our new website is on its way.</p>
              </h1>
              <p class="text-2xl">
                Sign up and be the first to know when we launch.
              </p>
            </div>
            <div class="mb-6">
              <label for="email" class="form-label text-center"
                >Email
                <span class="text-red-500">*</span>
              </label>
              <input
                id="email"
                name="email"
                class="form-input text-center"
                placeholder="Enter your email here*"
                type="email"
                required
              />
            </div>

            <button type="submit" class="btn btn-primary w-full"
              >Notify me</button
            >
          </form>
          <div class="mb-6"><p class="text-xl">For any inquiry, please contact us :</pc></div>
          <div class="flex space-x-2 text-xl">
            <BsEnvelope /><a href="mailto:contact@stoners-geneve.com">
              contact@stoners-geneve.com</a
            >
          </div>
          <div class="flex space-x-2 text-xl">
            <FaPhoneAlt /><p>+ 41 79 358 27 58</p>
          </div>
        </div>
      </div>
      <div class="row col-12 lg:col-4 my-14">
        <ImageMod
          src={"/images/LeonoraAlexander1.jpg"}
          height={500}
          width={500}
          alt={""}
          class="w-full rounded"
          format="webp"
        />
      </div>
    </div>
  </section>
</Base>
